*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: sans-serif;
    font-size: 18px;
}


.container-block-img{

    display: grid;
    justify-content: center;
    margin-top:30px ;
}



.contenedor{
    margin-top: 50px;
    width: 400px;
    margin: auto;
    align-items: center;
}

.contenedor-inputs{
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    margin: auto;
    align-items: center;
}

.contenedor .formulario input[type="text"],
.contenedor .formulario input[type="password"]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding:  15px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: sans-serif;
    font-size: 18px;
    align-items: center;
}

.contenedor .formulario input[type="text"]:focus,
.contenedor .formulario input[type="password"]:focus{
     border-bottom: 2px solid #246eb9;
}

.contenedor .formulario label{
    margin-left: 10px;
}



.contenedor .formulario .btn{
    width: 100%;
    text-align: center;
    background: #CD1818;
    color: #fff;
    border: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-family: sans-serif;
    font-size: 18px;
}

.contenedor .formulario .btn:hover{
    background: #840F0F;
}

.ok {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #1e6;
    color: #fff
}


.bad {
    text-align: center;
    width: 50%;
    margin-top: 10px;
    margin: auto;
    align-items: center;
    padding: 12px;
    background-color: #a22;
    color: #fff
}
